@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Courier;
}

#titulo::after {
    content: "|";
    margin-left: 5px;
    animation: blink .7s infinite;
  }
  
  @keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;  }
  
  }